.game-play {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameName {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 3rem;
}

.score-text {
    padding: .5rem;
    font-size: 3rem;
    font-family:  serif;
}

#GameCanvas {
    margin-top: 1rem;
    padding: 1rem;
    
}

#resetGame #resetGameBtn{
background-color: yellow;
color: black;
font-family: 'Times New Roman', Times, serif;
outline: none;
width: 50px;
height:30px ;
border: none;
border-radius: 3px;


}

